# Ignore large files that should not be committed
/data/15F1_tomograms/TOP_TOMOS/20241030_AMmilled12-1_15/best_alignment/20241030_AMmilled12-1_15_full_rec_BP_3DCTF_BIN4_ddw.mrc
/data/15F1_tomograms/TOP_TOMOS/20241030_AMmilled12-1_15/best_alignment/aunps/synapticvesicles.glb
/data/15F1_tomograms/TOP_TOMOS/20231026_HippAu_26/best_alignment/aunps/synapticvesicles.glb
/data/15F1_tomograms/TOP_TOMOS/20231026_HippAu_26/best_alignment/20231026_HippAu_26_full_rec_BP_3DCTF_BIN4_ddw.mrc
/data/unlabeled_tomograms/TOP_TOMOS/20250227_AMmilled25-3_Position_16/best_alignment/Position_16_full_rec_BP_3DCTF_BIN4_ddw.mrc 
data/15F1_tomograms/TOP_TOMOS/20241030_AMmilled12-1_15/best_alignment/STT_results/vesicles/vesicle_results.json
data/15F1_tomograms/TOP_TOMOS/20231026_HippAu_26/best_alignment/STT_results/vesicles/vesicle_results.json
data/unlabeled_tomograms/TOP_TOMOS/20250227_AMmilled25-3_Position_16/best_alignment/STT_results/vesicles/vesicle_results.json
sam_vit_h_4b8939.pth
/data/unlabeled_tomograms/TOP_TOMOS/20250228_AMmilled25-2_Position_1_7/best_alignment/Position_1_7_full_rec_BP_3DCTF_BIN4_ddw.mrc 
/data/15F1_tomograms/TOP_TOMOS/20231017_EGmilled24-2_68/best_alignment/20231017_EGmilled24-2_68_full_rec_BP_3DCTF_BIN4_ddw.mrc
/data/15F1_tomograms/TOP_TOMOS/20231017_EGmilled24-2_68/best_alignment/membrain/20231017_EGmilled24-2_68_full_rec_BP_3DCTF_BIN4_ddw_MemBrain_seg_v10_alpha.ckpt_segmented_smooth.mrc
/data/15F1_tomograms/TOP_TOMOS/20231026_HippAu_26/best_alignment/membrain/20231026_HippAu_26_full_rec_BP_3DCTF_BIN4_ddw_MemBrain_seg_v10_alpha.ckpt_segmented_smooth.mrc
/data/15F1_tomograms/TOP_TOMOS/20241030_AMmilled12-1_15/best_alignment/membrain/20241030_AMmilled12-1_15_full_rec_BP_3DCTF_BIN4_ddw_MemBrain_seg_v10_alpha.ckpt_segmented_smooth.mrc
/data/unlabeled_tomograms/TOP_TOMOS/20250227_AMmilled25-3_Position_16/best_alignment/membrain/20250227_AMmilled25-3_Position_16_full_rec_BP_3DCTF_BIN4_ddw_MemBrain_seg_v10_alpha.ckpt_segmented_smooth.mrc
/data/unlabeled_tomograms/TOP_TOMOS/20250228_AMmilled25-2_Position_1_7/best_alignment/membrain/Position_1_7_full_rec_BP_3DCTF_BIN4_ddw_MemBrain_seg_v10_alpha.ckpt_segmented_smooth.mrc